<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101386401" data-redirecturi="http://free-blog.top/index" charset="utf-8" ></script>
    <title>Document</title>
</head>
<body>
    <span id="qq">登录</span>
    <script>
        QC.Login({
        btnId: "qq",
        scope: "all",
        size: "B_M"
        })
    </script>
</body>
</html>